*.o
TestData/*
last-merge-batches+
lastex+
lastal+
lastdb+
last-split+
a
*.swp
core
CMakeFiles*
CMakeCache*
cmake_install*
cachegrind*
callgrind*
massif*
lastal.d*
out*
nohup*
*.dSYM*
1
watch*
a*
stuff*
